* {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
  }

h1{
    font-family:'Courier New', Courier, monospace;
}

p{

    font-family:'Times New Roman', Times, serif;
}


.header{
background-color: #a7f3d0;

}

.bio{
    background-color: white;

}

.projects{
    
    background-color: #a7f3d0;
    
  

}

.projectCardsImgs{
    display:flex;
flex-direction: row ;
flex-wrap: wrap;
justify-content: space-around;
}

.project1{
border-color: white;
border-width: 20px;
margin: 20px;
padding: 20px;
}

.project2{
    border-color: white;
    border-width: 20px;
    margin: 20px;
padding: 20px;
}

.project3{
    border-color: white;
border-width: 20px;
margin: 20px;
padding: 20px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}